* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root {
    --main-color: #ff2c1c;
    --text-color: #020307;
    --bg-color: #fff;

}

body {
    background-color: var(--text-color);
    color: var(--bg-color);
}

section {
    padding: 4rem 0 1.5rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    /* background: #ff2c1c; */
}

.logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: 20px;
}



#menu-icon {
    cursor: pointer;
    font-size: 25px;
    display: none;
    z-index: 100001;
}

.navbar {
    display: flex;
    gap: 40px;


}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.navbar a::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #ff2c1c;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.4s all linear;

}

.navbar a:hover::after {
    width: 100%;

}
.sidenav{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    transform: translatex(0%);
    width:50%;
    height: 100%;
    background-color: #ff2c1c;
    z-index: 2000000;
    transition: all 0.5s linear
}

.sidenav p{
    text-align: end;
    margin: 20px;
    cursor: pointer;
    color: #000000;
    font-weight: 900;

}
.sidenav li{
    color: #000000;
    margin: 20px;
}
.sidenav a{
    color: #000;
    
}

.sidenav a:hover{
    text-decoration: underline;
}
.btn {
    color: #ffffff;
    background-color: #ff2c1c;
    border-radius: 5px;
    padding: 7px 14px;
    font-weight: 400;

}

.btn:hover {
    background-color: rgb(163, 2, 2);
}

.home {
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2, 3, 7, 0.4);
}

.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border-radius: 2px !important;
    opacity: 1 !important;

}

.swiper-pagination-bullet-active {
    width: 15px !important;
    background-color: #ff2c1c;
}

.home-text {
    position: absolute;
    top: 40%;
    z-index: 1000;
    padding: 0 150px;
}

.home-text span {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.home-text h1 {
    color: white;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.play {
    position: absolute;
    right: 30px;
    bottom: 10%;

}

.play .bx {
    background-color: white;
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgb(2, 3, 7, 0.4);
    color: #ff2c1c;
}

.play .bx:hover {
    background-color: #ff2c1c;
    color: #ffff;
    border: 4px solid rgb(2, 3, 7, 0.4);
    transition: 0.2s all linear;
}

.heading {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 2px solid #ff2c1c;
}

.movies-container {
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.box .box-img {
    width: 100%;
    height: 270px;
    object-fit: cover;

}

.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 1s all linear;

}

.box .box-img img:hover {
    transform: translateY(-20px);

    transition: 0.5s all linear;
}

.box h3 {
    font-size: 0.9rem;
    font-weight: 500;
}

.box span {
    font-size: 13px;
}



.pic{
    width:250px;
    height:400px;
    margin: 20px;
    cursor: pointer;
    
}

.slider{
    
   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
  
}
.slider::-webkit-scrollbar{
    width: 0;
}
.pic:hover{
    transform: translateY(-20px);

    transition: 0.5s all linear;
}
.topic{
    text-align: center;
}
.topic2{
    text-align: center;
}
.in{
    text-align: center;
}
.in input{
    font-size: 20px;
}

footer{
    display: flex;
    justify-content: space-between;
padding: 10px 50px;
}
.bg i{
    font-size: 25px;
    cursor: pointer;
    
}

.bg i:hover{
    background-color: #000000;
    color:red;
    
}

@media screen and (max-width:480px){
   header{
    position:fixed;
    background-color: #000;
    
   }
    #menu-icon{
        display: block;
    }
    .navbar{
        display: none;
    }
   .hidden{
    display: none;
   }
   .movies-container {
   
    grid-template-columns: repeat(auto-fit, minmax(130px, auto));
   
}

.box .box-img {
    width: 100%;
    height: 300px;
   

}





.box h3 {
    font-size: 0.7rem;
    font-weight: 500;
}

.box span {
    font-size: 10px;
}
.in input{
    width: 60%;
}



.home-text {
    position: absolute;
    top: 40%;
    left: 0px;
    z-index: 1000;
    padding: 0 150px;
}


.home-text h1 {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.play {
    position: absolute;
    right: 10px;
    bottom: 10%;

}

.play .bx {
   
    font-size: 1rem;
  
}


}